@font-face { font-family: "icon"; src: url('../font/icomoon/fonts/icomoon.eot?1583992172') format('embedded-opentype'), url('../font/icomoon/fonts/icomoon.woff?1583992172') format('woff'), url('../font/icomoon/fonts/icomoon.ttf?1583992172') format('truetype'), url('../font/icomoon/fonts/icomoon.svg?1583992172') format('svg'); }
*[class^="icon-"]:before, *[class*=" icon-"]:before { font-family: "icon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; }

.icon-chevron-down:before { content: "\e900"; }

.icon-chevron-left:before { content: "\e901"; }

.icon-chevron-right:before { content: "\e902"; }

.icon-chevron-up:before { content: "\e903"; }

.icon-mail:before { content: "\e904"; }

.icon-map-pin:before { content: "\e905"; }

.icon-menu:before { content: "\e906"; }

.icon-smartphone:before { content: "\e907"; }

.icon-triangle:before { content: "\e908"; }

.icon-x:before { content: "\e909"; }

.icon-facebook2:before { content: "\ea91"; }

.icon-instagram:before { content: "\ea92"; }

.icon-twitter:before { content: "\ea96"; }
